/* Panel */
#panel{
    height: 2.3em;
    line-height: 2.3em;
    font-size: min(3vw, 1.15em);
}

#panel > div:last-child{
    padding: 0 .5em;

    border-radius: .35em;
    background: white;
    border: 2px solid darkgray;
}

#panel > div:last-child:hover{
    cursor: pointer;
    background: darkgray;
    border: 2px solid white;
}

/* Add tweet */
#newTweet{
    border: 2px solid darkgray;
    border-radius: 1em;

    width: 65%;
    /* min-height: ; */
    height: 12vh;
    margin: 0 auto 1.5em auto;
    padding: .5em;

    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
}

#newTweet > * {
    border-radius: .5em;
    border: 1px solid white;

    font-size: 1.35em;
}

#newTweet > input:first-child{
    grid-column: 1/2;
}

#newTweet > textarea{
    grid-column: 2/3;
    grid-row: 1/3;

    padding: .75em;

    resize: none;
}

#newTweet > input:last-child:hover{
    background: darkgray;
    cursor: pointer;
}


/* Tweet */
.tweet{
    border: 1px solid white;
    border-radius: .5em;
    background: lightgray;

    width: 60%;

    margin: 0 auto 2em auto;
    padding: .5em;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tweetRow1, 
.tweetRow2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
}

.tweetTitle{
    font-size: min(3.5vw, 1.5em);
    font-weight: bold;
}

.tweetLikes,
.tweetLikes > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* vertical align */
    align-items: center;
}

.tweetLikes > div{
    font-size: 1em;
    padding: 0 .5em;
}

.tweetLikes > div:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.tweetLikes > div > img{
    height: 1em;
    margin-left: .5em;
}

.tweetDate{
    font-style: italic;
    font-size: min(2.5vw, 1em);
}

.tweetDelete{
    background: red;
    border: 1px solid black;
    border-radius: .2em;
    font-weight: bold;
    font-size: 1.025em;
    padding: .25em;
}

.tweetDelete:hover{
    background: firebrick;
    color: floralwhite;
    cursor: pointer;
    border: 1px solid floralwhite;
}

.tweetText{
    text-align: left;
}